<form (ngSubmit)="submitForm()" [formGroup]="cardForm">
    <div>
        <h5>Full name</h5>
        <input type="text" required minlength="3" name="name" formControlName="name" class="inputs" />
        <div *ngIf="submitted && cardForm.controls.name.errors">
            <p>Please Write you name at least 3 characters</p>
        </div>
    </div>
    <div>
        <h5>Address</h5>
        <input type="text" required minlength="6" name="address" formControlName="address" class="inputs"/>
        <div *ngIf="submitted && cardForm.controls.address.errors">
            <p>Please Write you address at least 6 characters</p>
        </div>
    </div>
    <div>
        <h5>Credit card number</h5>
        <input type="text" maxlength="16" required placeholder="16 Digit Number" name="card" minlength="16" formControlName="card" class="inputs" />
        <div *ngIf="submitted && cardForm.controls.card.errors">
            <p>Please Write you card at least 16 digits</p>
        </div>
    </div>
    <p>Your data is secured</p>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
